
<div class="header">
  <h1>Welcome to Assbook!</h1>
</div>
<!-- <p>
<%= flash[:error] %>
</p>
<% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to "Log Out", logout_path %>
<% else %>
  <%= link_to "Sign Up", signup_path %> or
  <%= link_to "Log In", login_path %>
<% end %> -->
<p id=”notice”><%= notice %></p>

  <% if !!@user %>
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
  <% end %>


  <%= form_with url: "/users", method: "post", local: true do |form| %>
  <div class="signup">
    <h1>Sign up</h1
    <%= form.label :email %>
    <br>
    <%= form.email_field :email, id: :user_email %>
    <%= form.label :password %>
    <%= form.password_field :password, id: :user_password %>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, id: :user_password_confirmation %>
    <%= form.submit  %>
  </div>
  <% end %>

  <div class="login">

  <%= form_tag sessions_path do |form| %>
    <h1>Login</h1>
      <%= label_tag :email %>
      <%= text_field_tag :email %>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
      <%= submit_tag 'Login' %>
  <% end %>
</div>

<img src="https://www.freeclipartnow.com/d/11300-1/Donkey-reading.jpg">

<div class="footer">
Team quixotic
</div>
